{
	email {$CADDY_EMAIL:martin.polak.cz@gmail.com}
}

{$KSIROVKA_DOMAIN:ksirovka.martinpolak.cz} {
	encode gzip zstd
	reverse_proxy ksirovka-api:3801

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy same-origin
		X-Frame-Options SAMEORIGIN
		-X-Powered-By
	}
}
